*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    list-style-type: none;
    font-family: "Archivo", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --brand-color: #f1a5b1;
  --dark: #0b0a0a;
  --white: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Andada Pro", serif;
}

.App {
  position: relative; /* Para que o z-index funcione */
  background-image: url('../public/assets/img/bg.png');
  z-index: 1; /* Garante que o elemento fique por cima do elemento com o filtro */
}

.App::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Cor preta com 50% de opacidade */
  z-index: -1; /* Coloca o elemento abaixo do conteúdo principal */
}
